@{
    List<WebProjeKerem.Models.Doviz._Doviz> dovizler = ViewBag.dovizler as List<WebProjeKerem.Models.Doviz._Doviz>; // as ile model i seçiyoruz ki aşağıda foreach işleminde Unit, Isim, CurrenyName gibi değerleri intellisense özelliği ile görebilelim.
}
@{
    ViewData["Title"] = "Güncel Döviz Kurları";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css">
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Güncel Döviz Kurları</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <table id="example2" width="100%" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Döviz Kodu<br />Currency Code</th>
                            <th>Birim<br />Unit</th>
                            <th>Döviz Cinsi<br />Currency</th>
                            <th>Döviz Alış<br />Forex Buying</th>
                            <th>Döviz Satış<br />Forex Selling</th>
                            <th>Efektif Alış<br />Banknote Buying</th>
                            <th>Efektif Satış<br />Banknote Selling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in dovizler)
                        {

                            if (d.CurrencyCode != "XDR")
                            {

                                string img = "http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/" + d.CurrencyCode + ".gif";

                                <tr>
                                    <td>
                                        <img src="@img" />
                                        @d.CurrencyCode / TRY
                                    </td>
                                    <td>@d.Unit</td>
                                    <td>@d.Isim</td>
                                    @*<td>@d.CurrencyName</td>*@
                                    <td>@d.ForexBuying</td>
                                    <td>@d.ForexSelling</td>
                                    <td>@d.BanknoteBuying</td>
                                    <td>@d.BanknoteSelling</td>
                                    @*<td>@d.CrossRateUSD</td>
                                        <td>@d.CrossRateOther</td>*@
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- /.box -->

    </div><!--/.col (left) -->
    <!-- right column -->
    <!--/.col (right) -->
</div>
<script src="/admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#example2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
</script>
